# If you are using virtualenvwrapper
# create a venv and use below command to activate.
workon <your-virtual-env-name>
# else if you are using pyenv virtualenv
pyenv virtualenv activate <your-virtual-env-name>
# else when using the virtualenv or venv modules directly use
source <path-to-your-virtualenv>/bin/activate

# Django environment variables settings
export DATABASE_URI="postgres:///<database-name>"
export SECRET_KEY="<YOUR-PREFFERED-SECRET-KEY>"
# Only Set to true when on development or staging envrionments
export DEBUG="true"

# Set Email Credentials
export EMAIL_HOST_USER="<valid@mail.com>"
export EMAIL_HOST_PASSWORD="<password_to_email>"

# Settings for Cryptography
export CRYPTOGRAPHY_KEY="<random_val_for_key>"
export CRYPTOGRAPHY_SALT="<random_val_for_salt>"

#Cloudinary Credentials
export CLOUDINARY_CLOUD_NAME="<cloud name here>"
export CLOUDINARY_API_KEY="<api key here>"
export CLOUDINARY_API_SECRET="<api secret here>"
export DEFAULT_CLOUDINARY_IMG_NAME="<hashed img name>"
