# If you are using virtualenvwrapper
# create a venv and use below command to activate.
workon <your-virtual-env-name>
# else if you are using pyenv virtualenv
pyenv virtualenv activate <your-virtual-env-name>
# else when using the virtualenv or venv modules directly use
source <path-to-your-virtualenv>/bin/activate
